/* colour styles : custom  */
  body  { margin: 0; background:#fff;  font-size:14px; line-height:150%;  font-family: 'Raleway', Helvetica, sans-serif; text-align: center; font-weight:500;}
  #wrap {  display: block; margin-left: auto; margin-right: auto; width: 1000px;}
  
/* font styles */	
  h1  { font-size:40px; line-height:200%; color:#000000; padding:0px; margin:0px; font-weight:300; margin-bottom:25px; margin-top:5px; text-align: center;}
  h2  { font-size:24px; line-height:100%; color:#000000; padding:0px; margin:0px; font-weight:700; margin-bottom:5px; margin-top:5px; text-align: center;}
  h3  { font-size:12px; line-height:100%; color:#000000; padding-top:10px; margin:0px; font-weight:500; text-align: center;  }
  h4  { font-size:15px; line-height:25px; color:#000000; padding:0px; margin:0px; font-weight:500; text-align: center; } 
  h5  { font-size:13px; line-height:22px; color:#000000; padding:0px; margin:0px; font-weight:500; text-align: center; }
  h6  { font-size:12px; line-height:14px; color:#000000; padding:0px; margin:0px; font-weight:500; text-align: center; } 
  p   { font-size:14px; color:#000000; line-height:150%; font-weight:500; margin:0px; padding:0px; padding-top:8px; padding-bottom:8px; font-family: 'Raleway', Helvetica, sans-serif; text-align: center; }

/* list Styles */
  ul 	{ padding:0px; text-align: center; font-weight:500; font-family: 'Raleway', Helvetica, sans-serif; margin-top:10px;   }
  ul li { font-size:12px; text-align: center; color:#000000; padding-left:10px; margin-bottom:7px; list-style:inside; list-style-type:square;}
  ol 	{ padding:0px; margin:0; margin-left:25px; text-align: center; font-family: 'Raleway', Helvetica, sans-serif; margin-top:10px;   }
  ol li { font-size:12px; color:#fff; text-align: center; padding-left:10px; margin-bottom:7px;  list-style-type: decimal; }
  hr 	{ background:url(../images/hr.jpg) top center no-repeat; border:0; outline:0; clear:both; height:10px;}
	
/* link styles */	
  a:link 		{color:#000000; text-decoration: none;} 
  a:visited 	{color:#000000; text-decoration: none;}
  a:hover 		{text-decoration:none; color:#cccccc;}
  a:active 		{color:#000000; text-decoration: none;}
  a:focus 		{outline-style: none;}  	
	
/* header nav styles */ 
  #header 			 {  width: 100%; }
  #logo 			 { margin-top:25px; margin-bottom:15px; margin-left: auto; margin-right:auto; }
  #nav 				 {margin-left: auto; margin-right: auto; width: 100%; height:57px; overflow:hidden;   }
  #nav ul 			 {	display: inline; list-style: none;  margin:0 auto; width: 100%; padding:0px; height:42px; line-height:42px; clear:both;   }
  #nav ul li 		 { float: center;  display: inline;  font-family: 'Raleway', Helvetica, sans-serif; font-weight:600; font-size:12px; line-height:100%; color:#fff; margin:0 auto; padding:0px;   }
  #nav ul li a 		 { font-family: 'Raleway', Helvetica, sans-serif; margin-right:25px; margin-left:25px; text-decoration:none; margin-top:0px;  }
  #nav ul li a:hover { text-decoration:none; color:#cccccc;}
 
/* post and page styles */ 
  .centrage 				{text-align: center;}
  .type-page 				{ width:600px; margin-right:auto; margin-left:auto; display:inline; float:center; }
  .type-attachment 			{ width:600px; margin-right:auto; margin-left:auto; display:inline; float:center; }
  .gridly-image 			{ z-index:5; }
  .gridly-category 			{ width:auto; z-index:10;  height:auto; overflow:hidden;}
  .gridly-category p 		{ font-size:10px; color:#cccccc; margin:0; padding:0;}
  .gridly-category a 		{ font-size:10px; color:#cccccc;}
  .gridly-category a:hover  { font-size:10px; color:#cccccc; text-decoration: underline;}
  .gridly-copy 				{ width:auto; margin:0 auto; overflow:hidden; }
  .gridly-date 				{ width:auto;  color:#000; font-size:12px;}
  .size-full 				{ width:100%; height:inherit;}
 
/* post index styles */ 
  #post-area							{ display: block; position:relative; }
  #post-area .post 						{ width:200px;  margin-right:25px; margin-left:25px; margin-bottom:15px; float: left;}
  #post-area .post .gridly-copy 		{ width:200px; margin:0; overflow:hidden;}
  #post-area .post .gridly-date 		{ width:200px; color:#000; font-size:11px; text-align: center;   padding-bottom:0; padding-top:0; }
  #post-area .post .gridly-link 		{ width:200px; text-align: center; color:#000; border:thin #000;}

/* single post nav styles */ 
  .post-nav 		 { display: inline; list-style: none; margin : 0 auto; text-align : center;  height:auto; clear:both; }
  .post-next a 		 { position: relative; font-family: 'Raleway', Helvetica, sans-serif; font-weight:600; font-size:12px; line-height:100%; padding:10px; color:#000000; text-decoration: none;}
  .post-next a:hover { text-decoration:none; color:#cccccc;}
  .post-prev a 		 { position: relative; font-family: 'Raleway', Helvetica, sans-serif; font-weight:600; font-size:12px; line-height:100%; color:#000000; text-decoration: none; padding:10px;}
  .post-prev a:hover { text-decoration:none; color:#cccccc;}
  .post-nav .home a 			{position: relative; font-family: 'Raleway', Helvetica, sans-serif; font-weight:600; font-size:12px; line-height:100%; color:#000000; text-decoration: none; padding:10px;}
  .post-nav .home a:hover   { text-decoration:none; color:#cccccc;}
	
/* Additional and WordPress styles */
  .clear 			{ clear:both;}
  .aligncenter	 	{ display: block; margin: 0 auto; }
  .alignleft		{ float: left; margin-right:20px; margin-top:20px; margin-bottom:10px; }
  .alignright		{ float: right; margin: 0 0 20px 20px; }
  .wp-caption		{  text-align: left; margin-top:5px; margin-bottom:5px; }
  .wp-caption-text  { margin-top:2px;  text-align:left;  font-size:14px; color:#000; } 
  .sticky    		{}
  .gallery-caption  {} 
  .bypostauthor  	{}
  blockquote 		{ font-size:2em; line-height:23px; color:#000; margin-left:20px; padding-left:25px; margin-top:15px; margin-bottom:15px; }
/* end of css file */